/* 
  ALSO TAKE A LOOK THIS PERSONS CSS RESET AND UNDERSTAND IT
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
/*BELOW IS THE CSS RESET*/
* 
{
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
/*ABOVE IS THE CSS RESET*/

#header__flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    height: 10%;
    background-color: teal;
}
#header__search-form{
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header__search-input{
    border: none;
    margin-right: -3.25rem;
    border-radius: 100px;
    width: 80%;
}
/* .quickFix{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    transform: translate(100%, 20%);
} */
#header__search-button{
    /* height: 20px;
    width: 20; */
    border-radius: 100%;
    border: none;   
    transform: translate(350%); 
}

#result-count{
    display: flex;
    justify-content: center;
    color: brown;
    border-bottom: 1px solid green;
}
#list-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
.card-design{
    display: flex;
    flex-direction: column;
    border: 1px soild black;
    background-color: gray;
    border-radius: 3px;
    flex: 0 0 7rem;
    align-items: center;

}
.pic{
    height: 100px;
    width: 100px;
    /* background-color: blue; */
    margin-top: .2rem;
}

#pages{
    display: flex;
    align-items: center; /*controls the cross axis*/
    justify-content: center; /*controls the main axis*/
    gap: 1px;
}

.doNotDisplay{
    display: none;
}