#header__flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 6rem;
    width: 100%;
    height: 10%;
    background-color: teal;
}
#header__search-form{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header__search-input{
    border: none;
    margin-right: -3.25rem;
    border-radius: 100px;
    width: 80%;
}
.quickFix{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    /* opacity: 0; */
}
#header__search-button{
    height: 20;
    width: 20;
    border-radius: 100px;
    border: none;
    background-color: none;
    
}
#result-count{
    display: flex;
    justify-content: center;
    color: brown;
    border-bottom: 1px solid green;
}
#list-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
.card-design{
    display: flex;
    flex-direction: column;
    border: 1px soild black;
    background-color: gray;
    border-radius: 3px;
    flex: 0 0 7rem;
    align-items: center;

}
.pic{
    height: 100px;
    width: 100px;
    /* background-color: blue; */
    margin-top: .2rem;
}
.name{

}